
body {
  font-family: 'Cinzel', serif;
  background-color: #000;
  color: #fff;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
#title {
  font-size: 2em;
  color: #ff3c00;
  text-align: center;
}
h2 {
  color: #ff3c00;
  text-align: center;
}
label {
  display: block;
  margin-top: 10px;
}
input, select, button {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
  border: 1px solid #ff3c00;
}
button {
  background-color: #ff3c00;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #ff2200;
}
#toggleLock {
  position: fixed;
  top: 10px;
  right: 10px;
}
#editPassword {
  position: fixed;
  top: 50px;
  right: 10px;
}
#translationResult {
  font-family: sans-serif;
  font-size: 1.2em;
}
#wordList div {
  font-family: sans-serif;
}
